@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Yuji+Boku&display=swap');
@import "tailwindcss" ;
*{
    font-family: Outfit;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 pink;
}
body{
    color:white;
    background-color: #121212;
}
