@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Yuji+Boku&display=swap');
@import "tailwindcss" ;
*{
    font-family: Outfit;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 rgb(248, 247, 247);

}
body{
    color:white;
    background-color: #1c1c1c;
}
.no-scrollbar{
    scrollbar-width: none;
}
input::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    -webkit-appearance:none;
}
::-webkit-calendar-picker-indicator{
    filter:invert(1);
    font-size: larger;
}